{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card mt-4" style="width:30rem;margin: auto;">
  <div class="card-body">
        <h1 style="text-align: center;margin-bottom: 3rem;">Signup</h1>
        <center>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong style="color: #f00">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong style="color: #f00">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </center>

        <form method="POST" action="">{% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="id_first_name" class="form-label">First Name</label>
                {% render_field form.first_name class="form-control" %}
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="id_last_name" class="form-label">Last Name</label>
                {% render_field form.last_name class="form-control" %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {% render_field form.email class="form-control" %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {% render_field form.password class="form-control" %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="id_confirm_password" class="form-label">Confirm Password</label>
                {% render_field form.confirm_password class="form-control" %}
              </div>
            </div>
          </div>

        <button type="submit" class="btn btn-primary">Signup</button>
        </form>
  </div>
</div>

{% endblock %}